SUBJECT_NAME = req_dn
KEY_SIZE = 2048

[req]
default_bits       = ${ENV::KEY_SIZE}
default_md         = sha256
string_mask        = utf8only
prompt             = no
encrypt_key        = no
distinguished_name = ${ENV::SUBJECT_NAME}
req_extensions     = req_extensions

[req_dn]
C  = US
ST = California
L  = Mountain View
O  = QUIC Server
CN = a.this

[req_extensions]
subjectAltName = @other_hosts

[other_hosts]
DNS.1 = ssum.casalemedia.com.this
DNS.2 = api.branch.io.this
DNS.3 = cm.g.doubleclick.net.this
DNS.4 = www.amazon.com.this
DNS.5 = www.burstnet.com.this
DNS.6 = sync.rhythmxchange.com.this
DNS.7 = g-ecx.images-amazon.com.this
DNS.8 = aax-us-east.amazon-adsystem.com.this
DNS.9 = metrics.apple.com.this
DNS.10 = ia.media-imdb.com.this
DNS.11 = tpc.googlesyndication.com.this
DNS.12 = sync.search.spotxchange.com.this
DNS.13 = m.imgur.com.this
DNS.14 = images-na.ssl-images-amazon.com.this
DNS.15 = bnc.lt.this
DNS.16 = m.imdb.com.this
DNS.17 = shopbop.sp1.convertro.com.this
DNS.18 = i.imgur.com.this
DNS.19 = fonts.googleapis.com.this
DNS.20 = b.scorecardresearch.com.this
DNS.21 = ib.adnxs.com.this
DNS.22 = s.media-imdb.com.this
DNS.23 = api.imgur.com.this
DNS.24 = pixel.quantserve.com.this
DNS.25 = ums.adtechus.com.this
DNS.26 = z-ecx.images-amazon.com.this
DNS.27 = sync.adaptv.advertising.com.this
DNS.28 = s.amazon-adsystem.com.this
DNS.29 = fls-na.amazon.com.this
DNS.30 = www.googletagservices.com.this
DNS.31 = bh.contextweb.com.this
DNS.32 = www.apple.com.this
DNS.33 = images.apple.com.this
DNS.34 = a.thoughtleadr.com.this
DNS.35 = fonts.gstatic.com.this
DNS.36 = geo-um.btrll.com.this
DNS.37 = t4.liverail.com.this
DNS.38 = partner.googleadservices.com.this
DNS.39 = image5.pubmatic.com.this
DNS.40 = tap.rubiconproject.com.this
DNS.41 = www.facebook.com.this
DNS.42 = ecx.images-amazon.com.this
DNS.43 = ads.yahoo.com.this
DNS.44 = sync.1rx.io.this
DNS.45 = www.google-analytics.com.this
DNS.46 = us-u.openx.net.this

DNS.47 = a.this
DNS.48 = clien.net.this
DNS.49 = *.clien.net.this
DNS.50 = *.a.this
IP.1 = 127.0.0.1

